# Dataset and Large Files
csv/

# Environment Variables / Secrets 
.env

# Python Caches & Jupyter Checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints/

# Virtual Environments 
venv/
env/
.venv/
